body {
  background-image: url("dark-galaxy-wallpaper.jpg");
  background-color: #000238;
  background-size: cover;
  margin: 50px;
}

.topnav {
  display: flex;
  align-items: center;
  overflow: hidden;
  box-shadow: 0px 0px 18px #848ab3;
  border-radius: 10px;
  color: #848ab3;
  background-color: #020012;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Cabin", sans-serif;
}

.topnav a:hover {
  background-color: #848ab3;
  color: black;
}

.topnav a.active {
  background-color: #4a4e69;
  color: white;
}

h1 {
  color: #ffffff;
  font-size: 29px;
  margin-left: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 25px;
  font-family: "Satisfy", cursive;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin-top: 50px;
}

.grid-item {
  color: #848ab3;
  font-family: "Cabin", sans-serif;
  font-weight: normal;
  font-style: normal;
  padding: 15px;
  background-color: #020012;
  border-radius: 20px;
  box-shadow: 0px 0px 18px #848ab3;
}

@media (max-width: 1000px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 750px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }

  h1 {
    display: none;
  }
}
