body {
  background-color: #a14900;
  margin: 0;
}

.button {
  background-color: #a14900;
  color: white;
  font-size: 5vh;
  font-family: "Droid Sans", sans-serif;
  font-weight: 700;
  padding: 10px 16px;
  border: none;
  margin: 0 auto;
  display: block;
  border-radius: 7px;
  cursor: pointer;
}
.button:hover {
  box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.6);
}

.top_bar {
  background-color: #ffffff;
  padding: 20px;
  display: inline-block;
  margin: 0;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
}

.logo {
  width: 100%;
  height: auto;
  display: block;
}

.page {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 25px;
  align-items: center;
  margin: 40px;

  font-size: 45px;
  font-family: "Droid Sans", sans-serif;
  color: white;
}

.Card {
  border-radius: 20px;
  width: 100%;
}

.grid {
  background-color: white;
  padding: 20px;
  display: grid;
  grid-template-columns: 0.535fr 1fr 1fr;
  grid-row-gap: 25px;
  grid-column-gap: 50px;
  align-items: center;
  margin-right: auto;
  margin-left: auto;S
}

.image {
  width: 100%;
  height: auto;
  border-radius: 20px;
  text-align: center;
}

@media (max-width: 1500px) {
  .page {
    font-size: 30px;
  }
}

@media (max-width: 1200px) {
  .box {
    grid-template-columns: 0.535fr 1fr;
  }

  .page {
    font-size: 30px;
    grid-template-columns: 1fr;
  }

  .card {
    display: none;
  }

  .button {
    font-size: 4.5vh;
  }

  .top_bar {
    padding: 10px;
  }

  .Card {
    display: none;
  }
}

@media (max-width: 850px) {
  body {
    padding: 0;
    margin: 0;
  }

  .background {
    margin: 0;
    border-radius: 0;
  }

  .button {
    font-size: 4vh;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .top_bar {
    padding: 7px;
  }

  .page {
    grid-template-columns: 1fr;
    font-size: 15px;
    margin: 10px;
  }

  .Card {
    display: none;
  }
}

@media (max-width: 500px) {
  .button {
    font-size: 3.5vh;
  }
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 15px;
    grid-column-gap: 20px;
  }

  .small {
    width: 60%;
    margin-left: 50px;
  }
}
