@import url('https://fonts.googleapis.com/css?family=Droid+Sans');

body {
  background:#1014b2;
  margin:0px;
}

.title {
  background-color: rgba(0,0,0,0.15);
  text-align:center;
  padding: 20px 0;
  font-family: 'Droid Sans', sans-serif;
}

.title h1 {
  color: #ffffff;
  text-shadow: 0px 4px 15px rgba(0,0,0, 0.6);
  font-size: 48px;
}

.title p {
  color: rgba(255,255,255,0.6);
  font-size: 22px;
}
